<p id="notice"><%= notice %></p>

<h1>Starches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @starches.each do |starch| %>
      <tr>
        <td><%= starch.name %></td>
        <td><%= link_to 'Show', starch %></td>
        <td><%= link_to 'Edit', edit_starch_path(starch) %></td>
        <td><%= link_to 'Destroy', starch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Starch', new_starch_path %>
